debug.w32/MiProyecto.exe
debug.w32/MiProyecto.exe
debug.w32/VentanaLogin.o
debug.w32/VentanaParaBibliotecario.o
debug.w32/VentanaLogin.o
debug.w32/VentanaParaBibliotecario.o
debug.w32/VentanaPrincipal.o
debug.w32/wxfb_project.o
MiProyecto.zpr
MiProyecto.zpr
